.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  @media all and (max-width: 768px) {
    .content__main {
      padding: 0 12%;
    }

    .content__action {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      > div:nth-child(1) {
        margin-bottom: 16px;
      }
      > div:nth-child(2) {
        margin-bottom: 16px;
      }

      // select {
      //   width: auto;
      // }
    }
  }
}

.content__main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: blue;
}

.content__action {
  // background-color: red;
  margin-bottom: 56px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.content__action {
  display: flex;
  justify-content: space-around;
  padding: 24px 10%;

  > div {
    flex: 1;
    text-align: center;
  }
  > div:nth-child(1) {
    text-align: left;
  }
  > div:nth-child(3) {
    text-align: right;
  }
}

.content__action__go {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__action__github {
  a {
    font-family: Montserrat, tahoma, verdana, sans-serif;
    color: #fff;
    display: inline-block;
    padding: 10px 16px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
  svg {
    width: 20px;
    vertical-align: text-bottom;
    margin-bottom: -2px;
    margin-right: 6px;
  }
}

.content__action__select {
  select {
    width: 180px;
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    color: #fff;
    font-family: Montserrat, tahoma, verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9ItCh0LvQvtC5XzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzOSAxMzk7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMzkgMTM5IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNGRkY7c3Ryb2tlLXdpZHRoOjY7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQo8L3N0eWxlPjxsaW5lIGNsYXNzPSJzdDAiIGlkPSJYTUxJRF83XyIgeDE9IjE4IiB4Mj0iMTIxIiB5MT0iMzQuOCIgeTI9IjM0LjgiLz48bGluZSBjbGFzcz0ic3QwIiBpZD0iWE1MSURfOF8iIHgxPSI5NS4yIiB4Mj0iMTgiIHkxPSI2OS41IiB5Mj0iNjkuNSIvPjxsaW5lIGNsYXNzPSJzdDAiIGlkPSJYTUxJRF85XyIgeDE9IjY5LjUiIHgyPSIxOCIgeTE9IjEwNC4yIiB5Mj0iMTA0LjIiLz48L3N2Zz4=");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) 50%;
  }
}
